          /*use shentel.com fonts, colors*/
          :root{
             --primary:#00446a;
             --primary-dk:#00304d;
             --primary-lt:#0081cc;
             --secondary:rgb(216, 103, 42);
             --secondary-dk:#ac5120;
             --secondary-lt:#e39368;
             --tertiary:#fcb816;
             --tertiary-dk:#e29f03;
             --brand-grey:#dfdfdf;
          }

          body {
              background-color: #FFFFFF;
              font-family:Arial, Helvetica, sans-serif;
              color:#444444;
          }

          h1, h5{
              color:var(--primary);
          }

          .btn-primary{
              background-color:var(--secondary);
              border-color:var(--secondary)
          }

          .btn-primary:hover, .btn-primary:active{
              background-color:var(--secondary-dk);
              border-color:var(--secondary)
          }

          .btn-secondary{
              background-color:var(--primary);
              border-color:var(--primary)
          }

          .btn-secondary:hover, .btn-secondary:active, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
              background-color:var(--primary-dk);
              border-color:var(--primary-dk)
          }

          .border-primary{
              border-color:var(--primary)!important;
          }

          /*** Module Styles ***/
          #desc-icon .icon{
              color:var(--primary-dk);
              width:5rem;
              height:5rem;
              margin:0 auto;
              padding:0;
          }

          /*****  Speed Group   ******/
          .loaders-buy:hover{
              box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
          }

          .one h5{
              font-size:1.5rem;
              margin-bottom:0.25rem;
          }

          .one p, .two .btn-sm{
              font-size:.75rem;
              line-height:.75rem;
              margin-bottom:0.5rem;
          }

          .info{
              display:flex;
              align-items: center;
              justify-content: space-between;
          }

          @media (min-width: 768px) {

                .info{
                  flex-direction: column;
                  align-items: start;
                  justify-content: start;
                }
          }

          .holder{
              height:2.75rem;
              background-color:#FFFFFF;
              border:1px solid var(--tertiary-dk);
              padding-bottom:2rem;
          }

          .load-time {
              position: absolute;
              top:0;
              right:0;
              height:2.75rem;
              margin:0 1rem;
              padding:1rem;
              font-size:12px;
              line-height: 12px;
              font-weight: bold;
              text-align:right;
              color:var(--primary-dk);
              z-index: 100;
          }

          .holder-bar{
              max-width:100%;
              width:0%;
              z-index: 1;
              background-color:var(--tertiary);
              opacity: 0.5;
              height:2.75rem;
          }

          /*****  Selector Buttons   ******/
          .btn-group label:not(:last-child){
              border-right-style: solid;
              border-right-width: 2px;
              border-right-color:var(--primary-dk);
          }
          .icon {
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
                margin:0;
                padding:0;
                }
          .modal-header{border-bottom:0;}
          .modal-footer{
              border-top:0;
          }

          .remove{
              width:0%;
              content: "";
          }
